<p>
    {{category?.name}}
</p>
<p>
    {{category?.description}}
</p>
<button md-raised-button (click)="onCategoryEdit(category)">Edit</button>

<!--<form [formGroup]="categoryForm"  class="form" >
    <fieldset>
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <md-input-container class="full-width">
                        <input mdInput formControlName="name" placeholder="name">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="full-width">
                        <input mdInput formControlName="description" placeholder="description">
                    </md-input-container>
                </td>
            </tr>
        </table>
    </fieldset>-->
    <!--<button md-raised-button type="submit">Register</button>-->
<!--</form>-->

<!--<button md-reside-button (click) ="onCategoryEdit(category)">Category Edit</button>-->

<!--
<div class="success-message" *ngIf="showSuccessMessage">
    Thank you, {{user?.firstName}}! You successfully registered go to your email to activate account
</div>
<button md-raised-button (click)="deleteUser(user)">
    Delete User
</button>
<button md-raised-button (click)="editUser(user)">
    Edit User
</button>-->