 <form [formGroup]="loginForm" class="form" (ngSubmit)="logIn()" >
    <md-input-container class="full-width">
        <input mdInput formControlName="email" placeholder="Email">
    </md-input-container>
    <md-input-container class="full-width">
        <input mdInput formControlName="pass" placeholder="Password">
    </md-input-container>
       <button type="submit" md-raised-button>Log In</button>
    </form>

    {{message}} 
<!--<div>
    {{message}}
    <button md-raised-button (click)="logIn()">Log In</button>
    <button md-raised-button (click)="logOut()">Log Out</button>
</div>-->