prefix(prop, val)
    -moz-{prop}: val
    -o-{prop}: val
    -webkit-{prop}: val
    {prop}: val

.header 
    width: 100%
    height: 70px
    display: flex
    display: -ms-flexbox
    align-items: center
    justify-content: space-between
    -ms-flex-align: center
    -ms-flex-pack: justify
    background-color: #55aadd

.nav-auth
.nav-top 
    height: 100%
    display: flex
    display: -ms-flexbox
    align-items: center
    justify-content: flex-start
    -ms-flex-align: center
    -ms-flex-pack: start

.nav-auth__item
.nav-top__item 
    height: 70px
    display: block
    line-height: 70px
    margin: 0
    padding: 0 20px
    prefix("transition", .3s ease all)

.nav-auth__item:hover
.nav-auth__item-active
.nav-top__item:hover
.nav-top__item-active 
    background-color: #007ba7;

.nav-auth__item-link
.nav-top__item-link 
    color: #ffffff
    display: block
    height: 70px

.nav-auth__item-link:hover
.nav-top__item-link:hover 
    text-decoration: none
