<h1>{{title}}</h1>
<!--<app-home></app-home>-->

<!--Implement navigation for app-->
<nav>
    <!--Add navigation links with routerLink directive to provide app navigatio-->
    <!--Add routerLinkActive directive to style active link-->
    <li *ngFor = "let item of navItems">
        <a [routerLink] = "item.link"
           routerLinkActive = "active-link"
           [routerLinkActiveOptions] = "{exact: true}"> {{item.name}}</a>
    </li>
</nav>
<!--Used router-outlet directive to show containing of routing module-->
<router-outlet></router-outlet>


<!--test-->
<!--<app-phone></app-phone>
<app-catalog></app-catalog>-->