<!-- Display all users from user service -->
<ul class="user__list">
    <ng-template ngFor let-user | async [ngForOf]="users | OrderBy : '-lastName'" >
        <li 
            [@userState]="user.state"
            [@flyInOut]="user.state"
            (click)="onSelect(user)"
            (mouseenter)="onMouseEnter(user)"
            (mouseleave)="onMouseLeave(user)"
            class="user__list-item">
           {{user.id}} | {{user.firstName}} | {{user.lastName}}
        </li>
    </ng-template>
</ul>

<input #txtFname placeholder="first name" />

<ul>
  <li *ngFor="let user of users | SearchFilter: 'firstName' : txtFname.value" (click)="onSelect(user)">
    {{user.id}} | {{user.firstName}} | {{user.lastName}}
  </li>
</ul>

<div>
  <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit($event,userForm)">
    <div class="form__row">
      <label for="firstName">First Name:</label>
      <div class="form__input">
        <input id="firstName" (change)="clearControlValidation('firstName')" (focus)="clearControlValidation('firstName')" formControlName="firstName"
          type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && userForm.controls['firstName'].invalid && userForm.controls['firstName'].untouched">
          First Name is reuired
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="lastName">Last Name:</label>
      <div class="form__input">
        <input id="lastName" (change)="clearControlValidation('lastName')" (focus)="clearControlValidation('lastName')" formControlName="lastName"
          type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && userForm.controls['lastName'].invalid && userForm.controls['lastName'].untouched">
          Last Name is reuired
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="email">Email:</label>
      <div class="form__input">
        <input id="email" (change)="clearControlValidation('email')" (focus)="clearControlValidation('email')" formControlName="email"
          type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && userForm.controls['email'].invalid && userForm.controls['email'].untouched">
          <span *ngIf="userForm.controls['email'].hasError
           ('required')">
           Email is required
           </span>
          <span *ngIf="userForm.controls['email'].hasError
           ('pattern')">
           Email is wrong format
           </span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="age">Age:</label>
      <div class="form__input">
        <input id="age" (change)="clearControlValidation('age')" (focus)="clearControlValidation('age')" formControlName="age" type="text">
        <div class="message message__error" *ngIf="isFormSubmitted && userForm.controls['age'].invalid && userForm.controls['age'].untouched">
          Age Name is reuired
        </div>
      </div>
    </div>
    <div class="form_row">
      <input type="submit" value="submit">

      <!--<input type="submit" value="submit" [disabled]="userForm.invalid">-->
    </div>
  </form>
</div>

{{userForm.invalid}}| {{userForm.valid}}