<!--<nav>
  <li *ngFor="let item of navItems">

    <span 
    (click)="onClick()" 
    [class.boldText] ="item === 'Home'" 
    [class.redText] ="item !== 'Home'"
    [style.fontSize] ="size">
    {{item}}
    </span>
  </li>
</nav>

<input type="text" [(ngModel)] = "size">-->

<nav>
  <li *ngFor="let item of navItems">
    <span [bold]>{{item}}</span>
  </li>
</nav>

<!--<div *ngFor="let user of users">
  <p *while = "user.id < 3">
    {{user.name}}
  </p>
</div>-->

<div> Factorial {{x}} = {{x | factorial}}
<div> Join array string: {{joinItems | join : 2: 4}}

  <div *ngFor="let user of users">
  <p>
    {{user.firstName}} | {{user.lastName}}
  </p>
</div>
  
